html * {
    margin:0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
.tittle {
    /* align-content: center; */
    color: azure;
    font-size: 40px;
    /* background-color: brown; */
    font-weight: bold;
    margin-right: 800px;
}
.main h1 {
    justify-content: center;
}
.header {
    background-image: url('https://fondosmil.com/fondo/24546.jpg');
    background-repeat: no-repeat;
    min-height: 100vh;
    /* background-size: cover; */

}
.navbar-brand {
    margin-left: 490px;
}
.imagenes {
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
    padding: 20px;
    border-color: black;
    border-width: 50px;
}
.main {
    display: grid;
    justify-content: center;
    padding: 10px 10px 10px 1px;
}
#registro {
    background-color: aqua;
}
.bromas {
    background-image: url('./img/estudiantes.jpg');
    width: 500px;
    height: 300px; 
    background-size: cover;
    background-position: center;
    border-radius: 0 3em 0 3em;
    box-shadow: 5px 5px 5px black , -5px -5px 5px black;

}
.table {
    background-color: rgb(104, 80, 2);

}
.planilla {
    background-color: aliceblue;
}
.tabla {
    padding: 10px 10px 10px 1px;
}